{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Forgot Password Form Start -->
<div class="container col-3 text-center">
  <main class="form-signin w-100 m-auto my-4">
    <form method="POST" action="{% url 'forgotPassword' %}">
      {% csrf_token %}
      <img class="mb-4" src="{% static 'assets/img/logo.png' %}" alt="Logo" width="180" height="60">
      <h1 class="h3 mb-3 fw-normal">Forgot Password?</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" name='email' placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>

      {% include 'includes/alert.html' %}
      <button class="w-100 btn btn-lg btn-primary my-2" type="submit">Reset</button>

      <div class="contain d-flex flex-column">Or 
        <a href="{% url 'register' %}" class="">Register</a>
      </div>
      <p class="mt-5 mb-3 text-muted">Afon Group &copy; <script>document.write(new Date().getFullYear())</script></p>
    </form>
  </main>
</div>
<!-- Forgot Password form End  -->

{% endblock %}