{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>{{site}}</title>
{% endblock %}

{% block content %}

<!-- Reset Password Form Start -->
<div class="container col-sm-3 text-center d-flex flex-column min-vh-100">
    <main class="form-signin w-100 m-auto my-4">
      <form method="POST" action="{% url 'resetPassword' %}">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'assets/img/logo.png' %}" alt="" width="180" height="60">
        <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
  
        <div class="form-floating my-1">
          <input type="password" class="form-control" id="floatingPassword" name='password' placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating my-1">
          <input type="password" class="form-control" id="floatingConfirmPassword" name='confirm_password' placeholder="Confirm Password">
          <label for="floatingPassword">Confirm Password</label>
        </div>

        {% include 'includes/alert.html' %}
        <button class="w-100 btn btn-lg btn-primary my-2" type="submit">Reset</button>
  
        <div class="contain flex-column">
          <a href="{% url 'login' %}" class="col-sm-5 btn btn-sm btn-primary">
            Login
            <i class="bi bi-box-arrow-in-right"></i>
          </a>
          <a href="{% url 'register' %}" class="col-sm-5 btn btn-sm btn-primary my-2">Register
            <i class="bi bi-plus-circle-fill"></i>
          </a>
        </div>
        <p class="mt-5 mb-3 text-muted">Afon Group &copy; <script>document.write(new Date().getFullYear())</script></p>
      </form>
    </main>
  </div>
  <!-- Reset Password form End  -->

{% endblock %}